* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h1, h2, h3, p {
    color: white;
}

.main {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main h1 {
    padding-bottom: 30px;
    padding-top: 10px;
}

.card {
    background-color: #424242;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    /* border: 1px solid #7a7a7a; */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.card img {
    width: 100%;
    height: auto;
}

.card p {
    text-align: justify;
}

.arrow {
    position: relative;
    /* bottom: 10px; */
    /* right: 10px; */
    font-size: 20px;
    color: rgb(32, 136, 255);
    text-align: center;
}

.descricao {
    display: none;
}

.card.active.descricao {
    display: block;
}

