@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #202020;
  /* background-color: black; */
  /* height: 100vh; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  /* height: 90vh; */
  overflow: hidden;
  /* background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.37), black, black); */
}

#main-index {
  background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0.37), black, black);
}

#wallpaper {
  width: 400px;
  height: auto;
  z-index: -1;
}

#top {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
}

.card-rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  width: 95%;
  height: 64px;
  margin-top: 12px;
  border: 2px solid rgb(32, 136, 255);
  border-radius: 15px 2px 15px 2px;
  font-family: "Poppins", sans-serif;
}

.card-rank-img {
  width: 60px;
  height: 60px;
}

.card-rank-img img{
  width: 60px;
  /* height: 60px; */
  height: 100%;
  border-radius: 13px 0 0 0;
}

.card-rank-text {
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: start;
}

#naruto {
  margin-left: -112px;
}

#jujutsu {
  margin-left: -105px;
}

#bleach {
  margin-left: -112px;
}

.card-rank-text h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: -7px;
}

.card-rank-text p {
  font-size: 12px;
  color: #494949;
  margin-bottom: 4px;
}

.card-rank-position {
  background: rgb(32, 136, 255);
  border-bottom-right-radius: 10px;
  color: white;
  height: 100%;
}

.card-rank-position h2 {
  font-size: 40px;
  padding: 0 15px 0 15px;
}

#rank-position1 {
  padding: 0 4px 4px 4px;
}

.card-rank-position h2 small {
  font-size: 30px;
}

/* .gojo {
  background-color: #000000;
}

.gojo img {
  width: 100%;
  background-size: cover;
  background-position: center;
} */
  
  .main-header {
    background-color: #333;
    color: rgb(32, 136, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%; /*! se der erro remover */
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

  .filtro-pesquisa input {
    border-radius: 5px;
    background: #494949;
    height: 37px;
    border: none;
    outline: none;
    border: 2px solid #494949;
  }

  input:focus {
    border: 2px solid rgb(32, 136, 255) !important;
  }

  .filtro-pesquisa input::placeholder {
    color: grey;
  }

  input {
    color: grey;
    padding-left: 10px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    position: relative;
  }

  .menu-items {

    list-style-type: none;
    /* padding: 0; */
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    background-color: #333;
    
    margin: 0;
    padding: 10px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: end;
    padding-top: 60px;
    padding-right: 15px;
    padding-left: 15px;
    animation: slide 0.3s ease forwards;
  }

  .menu-items div:last-of-type {
    position: absolute;
    bottom: 65px;
  }
  
  .menu-items.active {
    display: block;
  }
  
  .menu-items li {
    margin-bottom: 15px;
  }

  .menu-items li a i {
    padding-top: 1px;
  }
  
  .menu-items li a ,
  .menu-items li a i {
    display: flex;
    justify-content: start;
    gap: 15px;
    color: #fff;
    text-decoration: none;
  }

  .menu-items li a.active,
  .menu-items li a.active i {
    color: rgb(32, 136, 255);
    font-weight: bold;
  }

  .hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    /* position: fixed; */
    position: relative;
    /* top: 23px;
    right: 20px; */
    z-index: 1100;
    
  }
  
  .line {
    background-color: #fff;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
    margin: 2px 0;
  }

  .menu-items div a i {
    color: rgb(80, 80, 80);
    font-size: 30px;
  }

  #sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
  }

  @keyframes slide {
    from {
      transform: translateX(100%);   
    }
    to {

      transform: translateX(0);
    }
  }
  
.lista-container {
  width: 100%; /* largura desejada da tela */
  overflow-x: auto; /* permite a rolagem horizontal quando necessário */
  white-space: nowrap; /* impede que os itens quebrem para outra linha */
  background-color: #333;
  position: relative;
  padding: 10px;
}

.lista-container::-webkit-scrollbar {
  display: none; /* Sarafi e Chrome */
}

.lista-status {
  list-style-type: none;
}

.lista-status li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  position: relative;
}

.lista-status li:last-child {
  margin-right: 15px; /* Ajuste o valor conforme necessário */
}


.linha-selecionada {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: white;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

/*! suporte ---------- */

.suporte {
  width: 50px;
  height: 50px;
  background-color: rgb(32, 136, 255);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.418);
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}

.suporte i {
  font-size: 30px;
  color: white;
}